[submodule "go/custom"]
	path = go/custom
	url = git@github.com:otomight/z01_custom-go.git
[submodule "go/go-reloaded"]
	path = go/go-reloaded
	url = git@github.com:otomight/z01_go-reloaded.git
[submodule "go/groupie-tracker"]
	path = go/groupie-tracker
	url = git@github.com:otomight/z01_groupie-tracker.git
[submodule "go/math-skills"]
	path = go/math-skills
	url = git@github.com:otomight/z01_math-skills.git
[submodule "go/piscine-go"]
	path = go/piscine-go
	url = git@github.com:otomight/z01_piscine-go.git
[submodule "go/ascii-art"]
	path = go/ascii-art
	url = git@github.com:otomight/z01_ascii-art.git
[submodule "go/ascii-art-web"]
	path = go/ascii-art-web
	url = git@github.com:otomight/z01_ascii-art-web.git
[submodule "git"]
	path = git
	url = git@github.com:otomight/z01_git.git
[submodule "c/wget"]
	path = c/wget
	url = git@github.com:otomight/z01_wget.git
[submodule "c/atm-management-system"]
	path = c/atm-management-system
	url = git@github.com:otomight/z01_atm-management-system.git
[submodule "go/lem-in"]
	path = go/lem-in
	url = git@github.com:otomight/z01_lem-in.git
[submodule "python/piscineIA/numpy"]
	path = python/piscineIA/numpy
	url = git@github.com:otomight/z01_numpy.git
[submodule "python/piscineIA/pandas"]
	path = python/piscineIA/pandas
	url = git@github.com:otomight/z01_pandas.git
[submodule "python/piscineIA/visualizations"]
	path = python/piscineIA/visualizations
	url = git@github.com:otomight/z01_visualizations.git
[submodule "python/piscineIA/data-wrangling"]
	path = python/piscineIA/data-wrangling
	url = git@github.com:otomight/z01_data-wrangling.git
[submodule "go/forum"]
	path = go/forum
	url = git@github.com:otomight/z01_forum.git
