[submodule "go/custom"]
	path = go/custom
	url = https://zone01normandie.org/git/adebadie/custom.git
[submodule "go/go-reloaded"]
	path = go/go-reloaded
	url = https://zone01normandie.org/git/adebadie/go-reloaded.git
[submodule "go/groupie-tracker"]
	path = go/groupie-tracker
	url = https://zone01normandie.org/git/rdecaux/groupie-tracker.git
[submodule "go/math-skills"]
	path = go/math-skills
	url = https://zone01normandie.org/git/adebadie/math-skills.git
[submodule "go/piscine-go"]
	path = go/piscine-go
	url = https://zone01normandie.org/git/adebadie/piscine-go.git
[submodule "go/ascii-art/ascii-art"]
	path = go/ascii-art/ascii-art
	url = https://zone01normandie.org/git/tkorhone/ascii-art.git
[submodule "go/ascii-art/ascii-art-color"]
	path = go/ascii-art/ascii-art-color
	url = https://zone01normandie.org/git/adebadie/ascii-art-color.git
[submodule "go/ascii-art/ascii-art-fs"]
	path = go/ascii-art/ascii-art-fs
	url = https://zone01normandie.org/git/adebadie/ascii-art-fs.git
[submodule "go/ascii-art/ascii-art-justify"]
	path = go/ascii-art/ascii-art-justify
	url = https://zone01normandie.org/git/adebadie/ascii-art-justify.git
[submodule "go/ascii-art/ascii-art-output"]
	path = go/ascii-art/ascii-art-output
	url = https://zone01normandie.org/git/adebadie/ascii-art-output.git
[submodule "go/ascii-art-web/ascii-art-web"]
	path = go/ascii-art-web/ascii-art-web
	url = https://zone01normandie.org/git/tkorhone/ascii-art-web.git
[submodule "go/ascii-art-web/ascii-art-web-dockerize"]
	path = go/ascii-art-web/ascii-art-web-dockerize
	url = https://zone01normandie.org/git/adebadie/ascii-art-web-dockerize.git
[submodule "go/ascii-art-web/ascii-art-web-export-file"]
	path = go/ascii-art-web/ascii-art-web-export-file
	url = https://zone01normandie.org/git/adebadie/ascii-art-web-export-file.git
[submodule "go/ascii-art-web/ascii-art-web-stylize"]
	path = go/ascii-art-web/ascii-art-web-stylize
	url = https://zone01normandie.org/git/tkorhone/ascii-art-web-stylize.git
[submodule "git"]
	path = git
	url = https://zone01normandie.org/git/adebadie/git.git
[submodule "c/wget"]
	path = c/wget
	url = https://zone01normandie.org/git/adebadie/wget.git
[submodule "c/atm-management-system"]
	path = c/atm-management-system
	url = https://zone01normandie.org/git/adebadie/atm-management-system.git
[submodule "go/lem-in"]
	path = go/lem-in
	url = https://zone01normandie.org/git/adebadie/lem-in.git
[submodule "python/piscineIA/numpy"]
	path = python/piscineIA/numpy
	url = https://zone01normandie.org/git/adebadie/numpy.git
[submodule "python/piscineIA/pandas"]
	path = python/piscineIA/pandas
	url = https://zone01normandie.org/git/adebadie/pandas.git
[submodule "python/piscineIA/visualizations"]
	path = python/piscineIA/visualizations
	url = https://zone01normandie.org/git/adebadie/visualizations.git
[submodule "python/piscineIA/data-wrangling"]
	path = python/piscineIA/data-wrangling
	url = https://zone01normandie.org/git/adebadie/data-wrangling.git
