[submodule "custom"]
	path = custom
	url = https://zone01normandie.org/git/adebadie/custom.git
[submodule "piscine-go"]
	path = piscine-go
	url = https://zone01normandie.org/git/adebadie/piscine-go.git
[submodule "go-reloaded"]
	path = go-reloaded
	url = https://zone01normandie.org/git/adebadie/go-reloaded.git
[submodule "test"]
	path = test
	url = https://zone01normandie.org/git/adebadie/custom.git
